<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648803910429-t5ama6s0djl98qmroqhh9jhapd075bpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648803910429-t5ama6s0djl98qmroqhh9jhapd075bpv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>648803910429-rl7gm0ujqgeedb4i86jnfd9qtmt4b6bk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBgXMEne9qiEvwYPHQf0ardGps_5p_chGU</string>
	<key>GCM_SENDER_ID</key>
	<string>648803910429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getepay.colonyworld</string>
	<key>PROJECT_ID</key>
	<string>madhav-college</string>
	<key>STORAGE_BUCKET</key>
	<string>madhav-college.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648803910429:ios:89d8429f14565ed83597f4</string>
	<key>DATABASE_URL</key>
	<string>https://madhav-college.firebaseio.com</string>
</dict>
</plist>